*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.search-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  margin-bottom: 24px;
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 13px;
  text-shadow: 0px 1px 3px #666666;
  font-family: Courier New;
  color: #ffffff;
  font-size: 18px;
  background: #38a6f0;
  padding: 9px 15px 10px 15px;
  text-decoration: none;
}
.button:hover {
  background: #63bdb8;
  background-image: -webkit-linear-gradient(top, #63bdb8, #3498db);
  background-image: -moz-linear-gradient(top, #63bdb8, #3498db);
  background-image: -ms-linear-gradient(top, #63bdb8, #3498db);
  background-image: -o-linear-gradient(top, #63bdb8, #3498db);
  background-image: linear-gradient(to bottom, #63bdb8, #3498db);
  text-decoration: none;
}
.button-up {
  position: fixed;
  bottom: 5px;
  right: 5px;
}

.button.is-hidden {
  display: none;
}

.button > .spinner.is-hidden {
  display: none;
}

/* Article List */
.articles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: calc(100vw - 80px);
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.articles li {
  height: 450px;
  overflow: hidden;
}

.articles img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.articles a {
  text-decoration: none;
  color: #2a2a2a;
}
.stats {
  display: flex;
  justify-content: space-around;
  margin: 5px;
}
.stats-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats-item > i {
  margin: 5px;
}
.button-down-container {
  display: flex;
}
